networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "192.168.0.0/24"
          gateway: "192.168.0.1"
services:
  haproxy:
    image: docker.io/library/haproxy:3.3.2 # previously 3.3-dev
    volumes:
      - @TGTTS_HAPROXY_CFG_PATH@:/usr/local/etc/haproxy/haproxy.cfg:ro
    networks:
      #             - tts
      - default
    depends_on:
      - tts1
      - tts2
      - tts3
      - tts4
      - tts5
      - api1
      - api2
      - api3
      - api4
      - api5
    ports:
      - @TGTTS_PUBLIC_PORT@:5002
  api1:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_server.py
    networks:
      #             - tts
      - default
  api2:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_server.py
    networks:
      #             - tts
      - default
  api3:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_server.py
    networks:
      #             - tts
      - default
  api4:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_server.py
    networks:
      #             - tts
      - default
  api5:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_server.py
    networks:
      #             - tts
      - default
  tts1:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_api.py
    networks:
      #             - tts
      - default
    volumes:
      - @TGTTS_BLIPS_PATH@:/workspace/samples:rw
      # - /dev:/dev
    environment:
      - TORCH_USE_CUDA_DSA=1
      - TORCH_CUDNN_SDPA_ENABLED=1
      - TORCH_LOG=perf_hints
    devices:
      - nvidia.com/gpu=all
  tts2:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_api.py
    networks:
      #             - tts
      - default
    volumes:
      - @TGTTS_BLIPS_PATH@:/workspace/samples:rw
      # - /dev:/dev
    environment:
      - TORCH_USE_CUDA_DSA=1
      - TORCH_CUDNN_SDPA_ENABLED=1
      - TORCH_LOG=perf_hints
    devices:
      - nvidia.com/gpu=all
  tts3:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_api.py
    networks:
      #             - tts
      - default
    volumes:
      - @TGTTS_BLIPS_PATH@:/workspace/samples:rw
      # - /dev:/dev
    environment:
      - TORCH_USE_CUDA_DSA=1
      - TORCH_CUDNN_SDPA_ENABLED=1
      - TORCH_LOG=perf_hints
    devices:
      - nvidia.com/gpu=all
  tts4:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_api.py
    networks:
      #             - tts
      - default
    volumes:
      - @TGTTS_BLIPS_PATH@:/workspace/samples:rw
      # - /dev:/dev
    environment:
      - TORCH_USE_CUDA_DSA=1
      - TORCH_CUDNN_SDPA_ENABLED=1
      - TORCH_LOG=perf_hints
    devices:
      - nvidia.com/gpu=all
  blips:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_blips_api.py
    networks:
      #             - tts
      - default
    volumes:
      - @TGTTS_BLIPS_PATH@:/workspace/samples:rw
      # - /dev:/dev
    devices:
      - nvidia.com/gpu=all
  tts5:
    image: @TGTTS_IMAGE_NAME@
    command: python tts_api.py
    networks:
      #             - tts
      - default
    volumes:
      - @TGTTS_BLIPS_PATH@:/workspace/samples:rw
      # - /dev:/dev
    environment:
      - TORCH_USE_CUDA_DSA=1
      - TORCH_CUDNN_SDPA_ENABLED=1
      - TORCH_LOG=perf_hints
    devices:
      - nvidia.com/gpu=all
