name: Environment Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      node:
        required: true
        type: string
      runner:
        required: true
        type: string
      pull_request_number:
        type: string

jobs:
  deploy:
    name: Environment Deploy
    environment: ${{ inputs.environment }}
    continue-on-error: true
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Install private ssh key
        uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4 # Install our ssh key. TODO: Replace with our own bash script
        with:
          key: ${{ secrets.COLMENA_SSH_KEY }}
          name: id_ed25519
          known_hosts: ${{ vars.COLMENA_KNOWN_HOSTS }}

      - name: Login to headscale
        uses: tailscale/github-action@8688eb839e58e6b25c1ae96cd99d1c173299b842 # Connect to headscale
        with:
          authkey: ${{ secrets.TS_AUTHKEY }}
          args: --login-server=https://vpn.tgstation13.org

      - name: Checkout (Branch)
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        if: github.event_name != 'pull_request_target'

      - name: Checkout (PR Merge)
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        if: github.event_name == 'pull_request_target'
        with:
          ref: "refs/pull/${{ inputs.pull_request_number }}/merge"

      - name: Install Nix
        uses: cachix/install-nix-action@08dcb3a5e62fa31e2da3d490afc4176ef55ecd72 # Install nix itself. We don't need to specify a channel since we're using flakes
        with:
          extra_nix_config: |
            accept-flake-config = true
            extra-substituters = https://nix-community.cachix.org https://attic.tgstation13.org/tgstation-infrastructure
            extra-trusted-public-keys = nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= tgstation-infrastructure:07mCKRLs4Y+ietmQ5A1Wn3hRYHVUu1vZ20xPmwMyrBA=

      - name: Authenticate Attic Binary Cache
        run: |
          nix profile install nixpkgs#attic-client
          attic login tgstation https://attic.tgstation13.org ${{ secrets.ATTIC_JWT_TOKEN }}

      - name: Print nix config before Build
        run: nix config show

      - name: Deploy closure to Nodes
        # Prevent this step from being cancelled mid-run because it could leave the node in a bad state
        if: always() && success() && !cancelled()
        run: |
          COLMENA_REVISION=$(jq -r '.nodes.colmena.locked.rev' flake.lock)
          echo "Current Colmena revision is: $COLMENA_REVISION"
          nix run github:zhaofengli/colmena/$COLMENA_REVISION -- --help
