name: CI Gated PR Comments

on:
  pull_request_target:
    types:
      - opened
    branches:
      - main

jobs:
  comment-on-new-pr:
    name: Comment New PR
    if: github.event.pull_request.head.repo.id != github.event.pull_request.base.repo.id
    runs-on: ubuntu-latest
    steps:
      - name: Generate App Token
        id: app-token-generation
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        with:
          app-id: ${{ secrets.CI_APP_ID }}
          private-key: ${{ secrets.CI_APP_PRIVATE_KEY }}

      - name: Comment on new Fork PR
        uses: thollander/actions-comment-pull-request@e4a76dd2b0a3c2027c3fd84147a67c22ee4c90fa
        with:
          message: As this pull request is from a fork, the Colmena workflow requires repository secrets to deploy to staging. Maintainers can add the `CI Cleared` label to allow it to run. Note that any changes to ci_security.yml, colmena.yml, and colmena_deploy.yml will not be reflected.
          github-token: ${{ steps.app-token-generation.outputs.token }}
